@import url('./mui-override.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  background-color: #F4F4F0;
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  overflow-x: hidden;
}


.png-bg {
  background:
    repeating-conic-gradient(
        #fff 0 90deg,
        rgba(128, 128, 128, 0.252) 0 180deg) 
    0 0/25% 25%;
}

.shape.right-cutout {
  background: radial-gradient(40px 40px at 0% 222px, transparent 30%, #fff 30%);
}


.shape.left-cutout {
  background: radial-gradient(40px 40px at 100% 222px, transparent 30%, #fff 30%);
}

/* Scrollbar Track */
.ticket-list::-webkit-scrollbar {
  background: transparent;
  height: 8px;
}

.ticket-list::-webkit-scrollbar-thumb {
  background-color: rgba(244, 244, 240, 0.481);
  border-radius: 12px;
}

/* Blob */

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(127, 180, 255, 0.749), rgba(147, 112, 216, 0.799));
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(12vmax);
}

#blur {
  height: 100% !important;
  width: 100%;
  z-index: 2;
}


#card3 {
  position: absolute;
  top: 100px;
  left: 120px;
}

#card2 {
  position: absolute;
  top: 60px;
  left: 180px;
  opacity: 0.75;
}

#card1 {
  position: absolute;
  top: 20px;
  left: 240px;
  opacity: 0.5;
}

.png-bg-sm {
  background:
    repeating-conic-gradient(
        #fff 0 90deg,
        rgba(128, 128, 128, 0.252) 0 180deg) 
    0 0/18% 18%;
}