.MuiStepLabel-alternativeLabel {
  font-weight: 600 !important;
}

.css-1014yos-MuiPaper-root-MuiAlert-root .MuiAlert-icon {
  color: rgba(0, 0, 0, 0.75);
}

.MuiAppBar-positionFixed {
  padding-right: 0 !important;
  /* padding-left: 15px; */
}

.css-uejwxd-MuiInputBase-root-MuiFilledInput-root {
  background-color: transparent !important;

}

.css-1gzkxga-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
  padding: 8px;
}

.MuiSelect-select {
  padding: 12px
}

.ju367v14#rk_profile_title {
  font-size: 24px !important;
  margin: 12px 0;
}